.shahy
{
 width: 550px; 
 height:500px;
 border-style:solid; 
 font-size:35px;
 line-height:2; 
 text-align:center;
}

.shahy>div{height:11.11%;}

.shahy>div>div
{
 width:11.11%;
 height:100%;
 display:inline-block;
 vertical-align:top;
}

.shahy>div:nth-child(odd)>div:nth-child(even),
.shahy>div:nth-child(even)>div:nth-child(odd)
 {background-color:Maroon; color:White;}

.shahy>div:nth-child(1),.shahy>div>div:nth-child(1)
 {background-color:Grey; color:White;}
